@font-face {
    font-family: apple;
    src: url(fonts/PrintChar21.ttf);
}
@font-face {
    font-family: motter;
    src: url(fonts/mottertektura.ttf);
}

html, body  {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    font-family: "New Courier", courier, monospace;
    line-height: 140%;
}

#accordion {
    height: 100%;
}

.apanel {
    background-color: beige;
    background: -webkit-linear-gradient(beige, white); /* For Safari */
    background: -moz-linear-gradient(beige, white);    /* For Firefox */
    background: linear-gradient(beige, white);
}

h1 {
    font-family: motter;
    color: gray;
}

.apanel pre {
    background-color: #333;
    color: #6f6;
    font-family: apple;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #e2e2c5;
    padding: 3px;
}

#info-dialog {
    background-color: white;
}

#info-dialog a {
    background-color: #f5f5dc;
}

blockquote {
    border: 2px solid purple;
    padding: 12px;
    border-radius: 20px;
    background-color: #FDE6FF;
}

code {
    color: purple;
    font-weight: bold;
    font-size: 120%;
}

pre .ui-icon {
    background-color: #f5f5dc;
    float: right;
    border-radius: 4px;
}
